# Firebase Configuration
FIREBASE_API_KEY_ANDROID=
FIREBASE_APP_ID_ANDROID=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_API_KEY_IOS=
FIREBASE_APP_ID_IOS=

# Security (App Check Debug Token for emulators)
# Get this from console output when running with kDebugMode
APP_CHECK_DEBUG_TOKEN=
